# Web Scraping

In [1]:
#!pip3 install beautifulsoup4
#!pip install requests

In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

#Answer 1

In [270]:
header = []
def scrap1(url):
    req = requests.get(url)
    content = req.content
    soup = BeautifulSoup(content)
    headings=soup.find('tr').find_all("h2")
    for head in headings:
        text = head.find('span',class_='mw-headline')
        header.append(text.get_text())
    return (header)

In [271]:
scrap1("https://en.wikipedia.org/wiki/Main_Page")

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day']

#Answer 2

In [370]:
releasing_year=[]
movie_title=[]
imdb_rating=[]

def scrap2(url):
    req = requests.get(url)
    content = req.content
    soup = BeautifulSoup(content)
    
    year = soup.select("td.titleColumn")
    released_in = year[0:10]

    movie_name = soup.select("td.titleColumn a")
    movie_tag=movie_name[0:10]

    ratings = soup.select("td.posterColumn span[name=ir]")
    rating_tag = ratings[0:10]

    for year in released_in:
            year_tag = year.get_text()
            split = year_tag.split()
            year = split[-1]
            releasing_year.append(year)

    for name in movie_tag:
            movie_name_title = name.get_text()
            movie_title.append(movie_name_title)

    for rating in rating_tag:
            movie_rating = float((rating['data-value']))
            rate='%.1f'%movie_rating
            imdb_rating.append(rate)

    movies = pd.DataFrame({'Movie':movie_title,
                               'Year':releasing_year,
                               'IMDB_Rating':imdb_rating,})
    
    movies.to_csv('movies.csv')
    
    return (movies)

In [371]:
scrap2("https://www.imdb.com/chart/top")

                                               Movie    Year IMDB_Rating
0                           The Shawshank Redemption  (1994)         9.2
1                                      The Godfather  (1972)         9.1
2                             The Godfather: Part II  (1974)         9.0
3                                    The Dark Knight  (2008)         9.0
4                                       12 Angry Men  (1957)         8.9
5                                   Schindler's List  (1993)         8.9
6      The Lord of the Rings: The Return of the King  (2003)         8.9
7                                       Pulp Fiction  (1994)         8.8
8                    Il buono, il brutto, il cattivo  (1966)         8.8
9  The Lord of the Rings: The Fellowship of the Ring  (2001)         8.8

#Answer 3

In [372]:
releasing_year=[]
movie_title=[]
imdb_rating=[]

def scrap3(url):
    req = requests.get(url)
    content = req.content
    soup = BeautifulSoup(content)
    
    year = soup.select("td.titleColumn")
    released_in = year[0:10]

    movie_name = soup.select("td.titleColumn a")
    movie_tag=movie_name[0:10]

    ratings = soup.select("td.posterColumn span[name=ir]")
    rating_tag = ratings[0:10]

    for year in released_in:
            year_tag = year.get_text()
            split = year_tag.split()
            year = split[-1]
            releasing_year.append(year)

    for name in movie_tag:
            movie_name_title = name.get_text()
            movie_title.append(movie_name_title)

    for rating in rating_tag:
            movie_rating = float((rating['data-value']))
            rate='%.1f'%movie_rating
            imdb_rating.append(rate)

    Indian_movies = pd.DataFrame({'Movie':movie_title,
                               'Year':releasing_year,
                               'IMDB_Rating':imdb_rating,})
    
    Indian_movies.to_csv('Indian_movies.csv')
    
    return (Indian_movies)

In [373]:
scrap3("https://www.imdb.com/india/top-rated-indian-movies/")

               Movie    Year IMDB_Rating
0    Pather Panchali  (1955)         8.5
1           Ratsasan  (2018)         8.5
2           Gol Maal  (1979)         8.5
3         Anbe Sivam  (2003)         8.5
4            Nayakan  (1987)         8.5
5        Apur Sansar  (1959)         8.4
6          Natsamrat  (2016)         8.4
7           Kireedam  (1989)         8.4
8       Black Friday  (2004)         8.4
9  Pariyerum Perumal  (2018)         8.4

#Answer 4

In [374]:
book_name=[]
author_name=[]
genre=[]
book_review=[]

def scrap4(url):
    req = requests.get(url)
    content = req.content
    soup = BeautifulSoup(content)

    booknames = soup.select("div.flex-article-content h4")
    booknames = booknames[0:5]

    author = soup.select("div.flex-article-content p.sans")
    author = author[0:5]

    genres = soup.select("div.flex-article-content p.genre-links")
    genres = genres[0:5]

    review = soup.select("div.read-full")
    review = review[0:5]

    for bk_name in booknames:
            book_name_title = bk_name.get_text().replace("\n", " ")
            book_name.append(book_name_title)

    for name in author:
            bk_author = name.get_text().replace("\n", " ")
            author_name.append(bk_author)

    for gn_name in genres:
            bk_genre = gn_name.get_text().replace("\n", " ")
            genre.append(bk_genre)

    for link in review:
        book_review.append(link.a['href'])

    book = pd.DataFrame({'Name':book_name,
                         'Author':author_name,
                         'Genre':genre,
                         'Full Book Review links(https://bookpage.com/)':book_review,})

    return (book)

In [375]:
scrap4("https://bookpage.com/reviews")

,Name,Author,Genre,Full Book Review links(https://bookpage.com/)
0,Dancing in the Mosque,Homeira Qaderi,Nonfiction / Memoir / Middle Eastern Hist...,/reviews/25710-homeira-qaderi-dancing-mosque-n...
1,A Year of Everyday Wonders,"Cheryl B. Klein, Qin Leng",Children's Picture Book / Children's,/reviews/25712-cheryl-b-klein-year-everyday-wo...
2,America the Beautiful,National Geographic,Nonfiction / Photography / Culture,/reviews/25692-national-geographic-america-bea...
3,The New Long Life,"Andrew J. Scott, Lynda Gratton",Nonfiction / Self-Help / Aging,/reviews/25743-andrew-j-scott-new-long-life-no...
4,★ Mediocre,Ijeoma Oluo,Nonfiction / Social Science,/reviews/25715-ijeoma-oluo-mediocre-nonfiction

#Answer 5

In [417]:
req = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
content = req.content
soup = BeautifulSoup(content)

top_10 = soup.select("tbody span.u-hide-phablet")
top_10 = top_10[0:10]

for top_teams in top_10:
        top_10 = top_teams.get_text()
        print(top_10)
    
matches = soup.select("tbody td.rankings-block__banner--matches")
matches = matches[0:10]

for counts in matches:
        matches = counts.get_text()
        print(matches)

England
India
New Zealand
Australia
South Africa
Pakistan
Bangladesh
Sri Lanka
West Indies
Afghanistan
44

In [420]:
matches = soup.find('tbody').find_all("td", class_="rankings-block__banner--matches")
matches

In [430]:
matches = soup.select("tbody td.table-body__cell")
matches

[<td class="table-body__cell table-body__cell--position u-text-right">2</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IND"></span>
 <span class="u-hide-phablet">India</span>
 <span class="u-show-phablet">IND</span>
 </td>,
 <td class="table-body__cell u-center-text">52</td>,
 <td class="table-body__cell u-center-text">6,102</td>,
 <td class="table-body__cell u-text-right rating">117</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">3</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NZ"></span>
 <span class="u-hide-phablet">New Zealand</span>
 <span class="u-show-phablet">NZ</span>
 </td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,716</td>,
 <td class="table-body__cell u-text-right rating">116</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">4</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo AUS"></span>
 <span class="u-hide-phablet">Australia</span>
 <span class="u-show-phablet">AUS</span>
 </td>,
 <td class="table-body__cell u-center-text">39</td>,
 <td class="table-body__cell u-center-text">4,344</td>,
 <td class="table-body__cell u-text-right rating">111</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">5</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SA"></span>
 <span class="u-hide-phablet">South Africa</span>
 <span class="u-show-phablet">SA</span>
 </td>,
 <td class="table-body__cell u-center-text">31</td>,
 <td class="table-body__cell u-center-text">3,345</td>,
 <td class="table-body__cell u-text-right rating">108</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">6</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PAK"></span>
 <span class="u-hide-phablet">Pakistan</span>
 <span class="u-show-phablet">PAK</span>
 </td>,
 <td class="table-body__cell u-center-text">35</td>,
 <td class="table-body__cell u-center-text">3,590</td>,
 <td class="table-body__cell u-text-right rating">103</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">7</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo BAN"></span>
 <span class="u-hide-phablet">Bangladesh</span>
 <span class="u-show-phablet">BAN</span>
 </td>,
 <td class="table-body__cell u-center-text">34</td>,
 <td class="table-body__cell u-center-text">2,989</td>,
 <td class="table-body__cell u-text-right rating">88</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">8</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SL"></span>
 <span class="u-hide-phablet">Sri Lanka</span>
 <span class="u-show-phablet">SL</span>
 </td>,
 <td class="table-body__cell u-center-text">39</td>,
 <td class="table-body__cell u-center-text">3,297</td>,
 <td class="table-body__cell u-text-right rating">85</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">9</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo WI"></span>
 <span class="u-hide-phablet">West Indies</span>
 <span class="u-show-phablet">WI</span>
 </td>,
 <td class="table-body__cell u-center-text">43</td>,
 <td class="table-body__cell u-center-text">3,285</td>,
 <td class="table-body__cell u-text-right rating">76</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">10</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo AFG"></span>
 <span class="u-hide-phablet">Afghanistan</span>
 <span class="u-show-phablet">AFG</span>
 </td>,
 <td class="table-body__cell u-center-text">28</td>,
 <td class="table-body__cell u-center-text">1,549</td>,
 <td class="table-body__cell u-text-right rating">55</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">11</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IRE"></span>
 <span class="u-hide-phablet">Ireland</span>
 <span class="u-show-phablet">IRE</span>
 </td>,
 <td class="table-body__cell u-center-text">24</td>,
 <td class="table-body__cell u-center-text">1,256</td>,
 <td class="table-body__cell u-text-right rating">52</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">12</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NED"></span>
 <span class="u-hide-phablet">Netherlands</span>
 <span class="u-show-phablet">NED</span>
 </td>,
 <td class="table-body__cell u-center-text">5</td>,
 <td class="table-body__cell u-center-text">222</td>,
 <td class="table-body__cell u-text-right rating">44</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">13</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo OMA"></span>
 <span class="u-hide-phablet">Oman</span>
 <span class="u-show-phablet">OMA</span>
 </td>,
 <td class="table-body__cell u-center-text">12</td>,
 <td class="table-body__cell u-center-text">479</td>,
 <td class="table-body__cell u-text-right rating">40</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">14</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo ZIM"></span>
 <span class="u-hide-phablet">Zimbabwe</span>
 <span class="u-show-phablet">ZIM</span>
 </td>,
 <td class="table-body__cell u-center-text">27</td>,
 <td class="table-body__cell u-center-text">1,021</td>,
 <td class="table-body__cell u-text-right rating">38</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">15</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SCO"></span>
 <span class="u-hide-phablet">Scotland</span>
 <span class="u-show-phablet">SCO</span>
 </td>,
 <td class="table-body__cell u-center-text">16</td>,
 <td class="table-body__cell u-center-text">419</td>,
 <td class="table-body__cell u-text-right rating">26</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">16</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NEP"></span>
 <span class="u-hide-phablet">Nepal</span>
 <span class="u-show-phablet">NEP</span>
 </td>,
 <td class="table-body__cell u-center-text">9</td>,
 <td class="table-body__cell u-center-text">161</td>,
 <td class="table-body__cell u-text-right rating">18</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">17</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo UAE"></span>
 <span class="u-hide-phablet">UAE</span>
 <span class="u-show-phablet">UAE</span>
 </td>,
 <td class="table-body__cell u-center-text">15</td>,
 <td class="table-body__cell u-center-text">259</td>,
 <td class="table-body__cell u-text-right rating">17</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">18</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NAM"></span>
 <span class="u-hide-phablet">Namibia</span>
 <span class="u-show-phablet">NAM</span>
 </td>,
 <td class="table-body__cell u-center-text">9</td>,
 <td class="table-body__cell u-center-text">152</td>,
 <td class="table-body__cell u-text-right rating">17</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">19</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo USA"></span>
 <span class="u-hide-phablet">United States</span>
 <span class="u-show-phablet">USA</span>
 </td>,
 <td class="table-body__cell u-center-text">14</td>,
 <td class="table-body__cell u-center-text">185</td>,
 <td class="table-body__cell u-text-right rating">13</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">20</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PNG"></span>
 <span class="u-hide-phablet">Papua New Guinea</span>
 <span class="u-show-phablet">PNG</span>
 </td>,
 <td class="table-body__cell u-center-text">14</td>,
 <td class="table-body__cell u-center-text">0</td>,
 <td class="table-body__cell u-text-right rating">0</td>]

#Answer 7

In [471]:
req = requests.get("https://www.amazon.in/s?k=mobile+phones+under+20000&ref=nb_sb_noss_1")
content = req.content
soup = BeautifulSoup(content)

model_name = soup.select("h2 a")
model_name = model_name[0:10]

for model in model_name:
        model_names = model.get_text()
        print(model_names)

Samsung Galaxy M01 (Black, 3GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers


Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64GB Storage)


Samsung Galaxy M01 (Blue, 3GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers


Redmi 8A Dual (Sea Blue, 3GB RAM, 32GB Storage) – Dual Cameras & 5,000 mAH Battery


Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)


Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128GB Storage)


Samsung Galaxy M21 (Raven Black, 4GB RAM, 64GB Storage)


Redmi 8A Dual (Sky White, 2GB RAM, 32GB Storage) – Dual Cameras & 5,000 mAH Battery


Samsung Galaxy M01 Core (Blue, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers


Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black)

In [472]:
model_price = soup.select("div.a-row span.a-price-whole")
model_price = model_price[0:10]

for model in model_price:
        model_price = model.get_text()
        print(model_price)

7,499
13,999
7,499
7,999
16,499
19,499
13,999
6,999
5,999
5,000

In [473]:
Images=[]
model_image=(soup.find_all('img'))
model_image = model_image[0:10]
Images.append(model_image)
Images

[[<img alt="" src="https://images-eu.ssl-images-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png" style="display:none"/>,
  <img alt="Amazon App" src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/MAI/Sweepstakes/June20/SWM_DownloadApp._CB410314483_.jpg"/>,
  <img alt="Samsung Galaxy M01 (Black, 3GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers" class="s-image" data-image-index="0" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" onload="window.uet &amp;&amp; uet('cf')" src="https://m.media-amazon.com/images/I/81onqHVeECL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/81onqHVeECL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/81onqHVeECL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/81onqHVeECL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/81onqHVeECL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/81onqHVeECL._AC_UY654_QL65_.jpg 3x"/>,
  <img alt="Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64GB Storage)" class="s-image" data-image-index="1" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71dujTTJDZL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71dujTTJDZL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71dujTTJDZL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71dujTTJDZL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71dujTTJDZL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71dujTTJDZL._AC_UY654_QL65_.jpg 3x"/>,
  <img alt="Samsung Galaxy M01 (Blue, 3GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers" class="s-image" data-image-index="2" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/81o1rDu5FZL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/81o1rDu5FZL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/81o1rDu5FZL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/81o1rDu5FZL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/81o1rDu5FZL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/81o1rDu5FZL._AC_UY654_QL65_.jpg 3x"/>,
  <img alt="Redmi 8A Dual (Sea Blue, 3GB RAM, 32GB Storage) – Dual Cameras &amp; 5,000 mAH Battery" class="s-image" data-image-index="3" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71yXShgxvpL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71yXShgxvpL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71yXShgxvpL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71yXShgxvpL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71yXShgxvpL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71yXShgxvpL._AC_UY654_QL65_.jpg 3x"/>,
  <img alt="Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)" class="s-image" data-image-index="4" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY654_QL65_.jpg 3x"/>,
  <img alt="Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128GB Storage)" class="s-image" data-image-index="5" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY654_QL65_.jpg 3x"/>,
  <img alt="Samsung Galaxy M21 (Raven Black, 4GB RAM, 64GB Storage)" class="s-image" data-image-index="6" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71QLvGIAq5L._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71QLvGIAq5L._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71QLvGIAq5L._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71QLvGIAq5L._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71QLvGIAq5L._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71QLvGIAq5L._AC_UY654_QL65_.jpg 3x"/>,
  <img alt="Redmi 8A Dual (Sky White, 2GB RAM, 32GB Storage) – Dual Cameras &amp; 5,000 mAH Battery" class="s-image" data-image-index="7" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/710p2f-zAdL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/710p2f-zAdL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/710p2f-zAdL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/710p2f-zAdL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/710p2f-zAdL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/710p2f-zAdL._AC_UY654_QL65_.jpg 3x"/>]]

In [474]:
model_rating= soup.select("i span.a-icon-alt")
model_rating = model_rating[4:14]

for model in model_rating:
        model_price = model.get_text()
        print(model_price)

3.9 out of 5 stars
4.2 out of 5 stars
3.9 out of 5 stars
4.0 out of 5 stars
4.2 out of 5 stars
4.3 out of 5 stars
4.2 out of 5 stars
4.0 out of 5 stars
3.4 out of 5 stars
2.9 out of 5 stars